<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'AirHockeyApp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>3c56dec6-9d65-4e9e-ab79-af10162e945c</InstrumentationKey>
</ApplicationInsights>